.calculator{

    width: 20rem;
    height: 30rem;
    display: grid;
    grid-gap: 3ch;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    
}